body {
    background-color: black;
    color: white;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.sectionOne {
    display: flex;
    justify-content: flex-end;
    gap: 38px;
    list-style-type: none;
    font-family: Roboto;
    background-color: darkblue;
    padding-top: 10px;
    margin: 0;
}

.options {
    font-size: 20px;
    margin-right: 20px;
}

img {
    height: 160px;
    width: 190px;
    border-radius: 10px;
}

.second {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 70px;
    background-color: blue;
}

.third {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding: 70px;
}

.allinfo {
    display: flex;
    justify-content: space-around;
    gap: 70px;
    padding: 40px;
}

.info {
    text-align: center;
    font-size: 25px;
}

.sectionTwo {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.sectionThree {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategray;
    padding: 100px;
}

.fifth {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.sixth {
    text-align: center;
    background-color: darkblue;
    padding: 15px;
}

.name {
    font-weight: bold;
    font-size: 40px;
    margin-right: auto;
}

.introimg {
    width: 450px;
    height: 330px;
    border-radius: 40px;
}

.sectionFour {
    display: flex;
    gap: 90px;
    align-items: center;
    list-style-type: none;
    padding: 40px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: blue;
}

button {
    color: white;
    background-color: blue;
    border-radius: 15px;
    border-color: white;
    height: 45px;
    width: 100px;
    font-size: 18px;
}

.quote {
    font-size: 45px;
}

.quoter {
    font-size: 15px;
}

h3 {
   
 font-size: 50px;
}

h1 {
    font-size: 50px;
}

.extra {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}